<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div id="table_container" data-page="{{ initial_page }}">
        Table Goes here
    </div>

    <div id="button_container">
        <nav>
          <ul class="pager">
            <li class="previous" id="previous_page_btn"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <li class="next" id="next_page_btn"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/pagination.js"></script>
</body>
</html>