<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<title>
			Friday Forecast
		</title>

		<!-- GLOBAL STYLES -->
		<style type="text/css">
			a:hover { text-decoration: none !important; }
			.header h1 {color: #2B65EC !important; font: bold 32px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 40px;}
			.header p {color: #c6c6c6; font: normal 12px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 18px;}
			.sidebar table.toc-table  { color: #767676; margin: 0; padding: 0; font-size: 12px;font-family: Helvetica, Arial, sans-serif; }
			.sidebar table.toc-table td a {color: #767676; }
			.sidebar h4{color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;}
			.sidebar p {color: #989898; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;}
			.sidebar p a{color: #4CC417; text-decoration: none;}
			.content h2 {color:#2B65EC !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif;  }
			.content h2 a{color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif;  }
			.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif;}
			.content a {color: #4CC417; text-decoration: none;}
			.footer p {font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;}
			.footer a {color: #0eb6ce; text-decoration: none;}
		</style>
		<!-- global styles -->

	</head>

	<body style="margin: 0; padding: 0; background: #4b4b4b url('images/bg_email.png');" bgcolor="#4b4b4b">
		<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="padding: 35px 0; background: #4b4b4b url('images/bg_email.png');" bgcolor="#4b4b4b">
		<tr>
			<td align="center" style="margin: 0; padding: 0; background: url('images/bg_email.png');">
				
				<!-- NEWSLETTER HEADING -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="border-radius: 10px 10px 0 0; font-family: Helvetica, Arial, sans-serif;background:#2a2a2a;" class="header">
			      	<tr>
						<td width="600" align="left" style="padding: font-size: 0; line-height: 0; height: 7px;" height="7" colspan="2"></td>
				    </tr>
					<tr>
						<td width="20" style="font-size: 0px;">&nbsp;</td>
				        <td width="580" align="center" style="padding: 18px 0 10px;">
							<h1 style="color: #2B65EC !important; font: bold 40px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 40px;"><singleline label="Title">Friday Forecast<span style="font-size: 10px" valign="top"> Beta</span></singleline></h1>
							<p><multiline label="Description" style="font-size: 18px">January 30th, 2015 </multiline></p>
							<p><multiline label="Description"> 
								<br> A weekly newsletter highlighting the opportunities for Information Systems employment.
								<br><br> If you have any feedback about the Friday Forecast, <br>or about ways that we can better serve you, please <a href="https://docs.google.com/forms/d/1WlWZpHUdl0HobtociTEQfy-TYncOKB-OgW-NNfqH7_Q/viewform" style="color: #FFFFFF">let us know</a>.
							</multiline></p>
				        </td>
					</tr>
				</table>
				<!-- newsletter heading -->

				<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="border-radius: 0 0 10px 10px; font-family: Helvetica, Arial, sans-serif; background: #fff url('images/bg_table.png') repeat-y;" bgcolor="#fff">
					<tr>
					<!-- LEFT SIDE BAR -->
						<td width="186" valign="top" align="left" style="font-family: Helvetica, Arial, sans-serif; background: #fff url('images/bg_table.png') repeat-y;" bgcolor="#fff" class="sidebar">
							<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="186">

								<!-- TABLE OF CONTENTS-->
								<tr>
									<td style="padding: 10px 0 7px 20px;" valign="top" align="left">
										<h3 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 18px; font-size: 18px;font-family: Helvetica, Arial, sans-serif;">Opportunity Highlights:</h3>
									</td>
								</tr>
								
								<tr>
									<td valign="top" style="padding: 7px 7px 15px 20px;">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #767676; margin: 0; padding: 10; font-size: 12px;font-family: Helvetica, Arial, sans-serif; list-style: none;" class="toc-table">										
											<tableofcontents>
												<tr>
													<td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top" width="8"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td><td style="padding: 0 0 8px; font-size: 14px; margin: 0; line-height: 20px; vertical-align: top;" valign="top"> <repeatertitle>
														<a href="#KPMG">KPMG Summer Leadership</a><br/>
													</td>
												</tr>
											</tableofcontents>
										</table>
									</td>								
								</tr>

								<tr>
									<td style="padding: 10px 0 7px 20px;" valign="top" align="left">
										<h3 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 18px; font-size: 18px;font-family: Helvetica, Arial, sans-serif;">Upcoming Events:</h3>
									</td>
								</tr>
								<tr>
									<td valign="top" style="padding: 7px 7px 15px 20px;">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #767676; margin: 0; padding: 10; font-size: 12px;font-family: Helvetica, Arial, sans-serif; list-style: none;" class="toc-table">										
											<tableofcontents>
												<tr>
													<td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top" width="8"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td><td style="padding: 0 0 8px; font-size: 14px; margin: 0; line-height: 20px; vertical-align: top;" valign="top"> <repeatertitle>
														<a href="#InsideSales">InsideSales.com Information Session</a><br/>
														<a href="#AIS">AIS Opening Social</a>
														<a href="#STEM">STEM Fair</a>
													</td>
												</tr>
											</tableofcontents>
										</table>
									</td>
								</tr>


								<tr>
									<td style="padding: 10px 0 7px 20px;" valign="top" align="left">
										<h3 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 18px; font-size: 18px;font-family: Helvetica, Arial, sans-serif;">Junior Core Events:</h3>
									</td>
								</tr>
								<tr>
									<td valign="top" style="padding: 7px 7px 15px 20px;">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #767676; margin: 0; padding: 10; font-size: 12px;font-family: Helvetica, Arial, sans-serif; list-style: none;" class="toc-table">										
											<tableofcontents>
												<tr>
													<td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top" width="8"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td><td style="padding: 0 0 8px; font-size: 14px; margin: 0; line-height: 20px; vertical-align: top;" valign="top"> <repeatertitle>
														<a href="#pwc">PwC Sundance Event</a><br/>
														<a href="#Cold_Stone">KPMG Cold Stone Event</a><br/>
														
													</td>
												</tr>
											</tableofcontents>
										</table>
									</td>
								</tr>


								<!-- table of contents -->
							
								<!-- RESOURCES -->
								<tr>
									<td style="padding: 20px 0 7px 20px;" valign="top" align="left">
										<h3 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 18px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; ">Resources:</h3>
									</td>
								</tr>
								<tr> 
								</tr>
								<tr>
									<td style="padding: 0px 5px 8px 20px; font-family: Helvetica, Arial, sans-serif;">	
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="145">
											<repeater> 
												<tr>
													<td style="padding: 15px 0 0; font-family: Helvetica, Arial, sans-serif; ">			
														<h4 style="color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px 0;"><singleline label="Title">Exit/Placement Survey</singleline></h4>
														<p><multiline label="Description">
															Report your internship and full-time offers through the Marriott School
															<a href="https://marriottschool.byu.edu/survey/placement/profile"> placement survey</a>.
														</multiline></p>
													</td>
												</tr>
											</repeater> 
											<repeater> 
											<tr>
												<td style="padding: 15px 0 0; font-family: Helvetica, Arial, sans-serif; ">			
													<h4 style="color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px 0;"><singleline label="Title">AIS Calendar</singleline></h4>
													<p><multiline label="Description">
														Keep an eye on the
														<a href="http://ais.byu.edu/">AIS Calendar</a>
														for more events.
													</multiline></p>
												</td>
											</tr>
											</repeater> 
											<repeater> 
												<tr>
													<td style="padding: 15px 0 0; font-family: Helvetica, Arial, sans-serif; ">			
														<h4 style="color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px 0;"><singleline label="Title">Island Jobs Board</singleline></h4>
														<p><multiline label="Description">
															Jobs are regularly posted to the 
															<a href="https://island.byu.edu/forum/index/Jobs/">Island Job Board</a>.
														</multiline></p>
													</td>
												</tr>
											</repeater> 
										</table>
									</td>
								</tr>
								<tr>
									<td align="center">
										<img src="images/double_divider.png" alt="" width="186" height="4">
									</td>
								</tr>		
<!--								
								<tr>
									<td style="padding: 15px 0 8px; font-family: Helvetica, Arial, sans-serif; " valign="top" align="center">
										<h4 style="color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px 0;"><singleline label="Title">Appointments with Reid</singleline></h4>
										If you would like to make an appointment with Reid, use The Bridge to schedule an appointment or call...
										<p style= "font-size: 14px"; >
											<a href= "tel:%28801%29%20422-5800">(801) 422-5800</a>
										</p>
										<p>
											Scheduling an appointment on the Bridge:
											<ol align="left" type="1">
												<li> After signing in as a student, click on the Schedule an Appointment link on the right side of the page.</li>
												<li> Enter the type of appointment, date, time, counselor name, etc. and click "Check Availability".</li>
												<li> On the right side of the page all available times will be displayed. Click on the counselor name and
												click the "Submit Request" button.</li>
												<li> You will see your approved appointments on the right side of the screen with all of the details.</li>
											</ol>
										</p>
									</td>
								</tr>
								<tr>
									<td align="center">
										<img src="images/bg_side_div.png" alt="" width="154" height="1">
									</td>
								</tr>
								<tr>
									<td style="padding: 8px 0 5px; font-family: Helvetica, Arial, sans-serif; " valign="top" align="center">
										<h4 style="color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px 0;"><singleline label="Title">Employer Watchlists</singleline></h4>
										To be added to a watchlist for a particular employer:
										<p style= "font-size: 14px"; >
											<a href="http://goo.gl/forms/8Mmb6U4ivW">Watch List Additions</a>
										</p>
									</td>
								</tr>
								<tr> -->
									<td style="padding: 8px 0 5px; font-family: Helvetica, Arial, sans-serif; " valign="top" align="center">
										<h4 style="color:#2B65EC !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 8px 0;"><singleline label="Title">Contact Us</singleline></h4>
										If you have any questions, contact
										<p style= "font-size: 14px"; >
											<a href="mailto:advisorassistant@byu.edu">AdvisorAssistant@byu.edu</a>
										</p>
									</td>
								</tr>
								<!-- resources -->
								
							</table>
						</td>
						<!-- left side table of contents -->

						<!-- RIGHT SIDE MAIN BODY-->
						<td width="414" valign="top" align="left" style="font-family: Helvetica, Arial, sans-serif; padding: 25px 0 0;" class="content">
							<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
								<tr>
									<td width="22" style="font-size: 1px; line-height: 1px;"></td>
									<td style="padding: 0;  font-family: Helvetica, Arial, sans-serif; background: url('images/bg_date.png') no-repeat left top; height:20px; line-height: 20px;" align="center" width="369" height="20">
										<h3 style="color:#666; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 10px; font-size: 14px;"><currentdayname> <currentday> <currentmonthname>
											Welcome to the Friday Forecast <br />
										</h3>
									</td>
									<td width="22" style="font-size: 1px; line-height: 1px;"></td>
								</tr>

							<!-- REID'S MESSAGE -->
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
											<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 20px 0 0;" align="left">			
													<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">Notes from Reid:</singleline></h2>
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr> 
											<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 10px 0 8px;" valign="top">
													<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
													<p><multiline label="Description">
														<strong>Greetings All!</strong><br/><br/>
														{{ message }}
                                                        <br /><br />
														Keep Smiling,<br/>
														Reid<br/>
														<a href="mailto:grawe@byu.edu">grawe@byu.edu</a><br/><br/>
														</p>
													</multiline></p>
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr> 
											<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 5px 0 0 0" valign="top">
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr>
										</table>
									</td>
								</tr>	
							</repeater>
							<!-- reid's message -->

							<!-- EVENT CONTENTS -->
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 30px 0 0;" align="left">			
												<h2 style="color:#2B65EC !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 24px; font-family: Helvetica, Arial, sans-serif; " align="left">
													<singleline label="Title" repeatertitle="true">
														Opportunity Highlights
													</singleline>
												</h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										</table>
									</td>
								</tr>
							</repeater>
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 20px 0 0;" align="left">			
												<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">
													<a name="KPMG">KPMG Summer Leadership</a>
													</singleline></h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 10px 0 8px;" valign="top">
												<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
												<p><multiline label="Description">
													The KPMG Summer Leadership deadline is fast approaching (Feb 9th). See the attached document for a more detailed description about the position and instructions on how to apply.
												</multiline></p>
												
											</td>
										</table>
									</td>
								</tr>
							</repeater>
							
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 30px 0 0;" align="left">			
												<h2 style="color:#2B65EC !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 24px; font-family: Helvetica, Arial, sans-serif; " align="left">
													<singleline label="Title" repeatertitle="true">
														Events
													</singleline>
												</h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										</table>
									</td>
								</tr>
							</repeater>
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 20px 0 0;" align="left">			
												<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">
													<a name="InsideSales">InsideSales.com Info Session</a>
													</singleline></h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 10px 0 8px;" valign="top">
												<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
												<p><multiline label="Description">
													Tuesday, February 3rd, 2015<br />
													5:15pm - 6:30pm<br />
													WSC 3380<br />
												</multiline></p>
												
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr>
										</table>
									</td>
								</tr>
							</repeater>
							
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 20px 0 0;" align="left">			
												<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">
													<a name="AIS">AIS Opening Social</a>
													</singleline></h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 10px 0 8px;" valign="top">
												<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
												<p><multiline label="Description">
													Wednesday, February 4th, 2015<br />
													5:30pm<br />
													Meet at Qualtrics (400 Qualtrics Drive #100, Provo, UT)<br />
													Then heading to Provo Beach Resort!
												</multiline></p>
												
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr>
										<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 5px 0 0 0" valign="top">
													Check out the AIS Monday Newsletter for details on the Opening Social, sponsored by Qualtrics!
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr>
										</table>
									</td>
								</tr>
							</repeater>

							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 20px 0 0;" align="left">			
												<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">
													<a name="STEM">STEM Fair</a>
													</singleline></h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 10px 0 8px;" valign="top">
												<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
												<p><multiline label="Description">
													Thursday, February 12th, 2015<br />
													9:00am-3:00pm
													WSC Ballroom & Garden Court
												</multiline></p>
												
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr>
										<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 5px 0 0 0" valign="top">
													Check out the new STEM fair promo video!<br>
													<a href="https://www.youtube.com/watch?v=n3BGrUzyDm8&list=UUBHSR-_0egqmjjYos18jy9A">See video</a>
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr>
										</table>
									</td>
								</tr>
							</repeater>

							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 30px 0 0;" align="left">			
												<h2 style="color:#2B65EC !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 24px; font-family: Helvetica, Arial, sans-serif; " align="left">
													<singleline label="Title" repeatertitle="true">
														Junior Core Events
													</singleline>
												</h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										</table>
									</td>
								</tr>
							</repeater>	
							
							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 20px 0 0;" align="left">			
												<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">
													<a name="pwc">PwC Sundance Event</a>
													</singleline></h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 10px 0 8px;" valign="top">
												<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
												<p><multiline label="Description">
													Saturday, February 7th, 2015<br />
													Sundance Resort
												</multiline></p>
												
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr>
										<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 5px 0 0 0" valign="top">
													PwC is holding an event where for Junior Core Students where you can enjoy outdoor activities such as skiing, snowshoeing, and snowboarding. There will be PwC professionals from around the country in attendance. You won't want to miss it. More information is available in the attachment.<br /><br />
													RSVP <a href="http://www.meetpwc.com/sundanceday2015">here</a>
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr>
										</table>
									</td>
								</tr>
							</repeater>

							<repeater>
								<tr>
									<td style="padding: 0; margin: 0;" valign="top" colspan="3">
										<table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 20px 0 0;" align="left">			
												<h2 style="color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "><singleline label="Title" repeatertitle="true">
													<a name="Cold_Stone">KPMG Cold Stone Event</a>
													</singleline></h2>
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr> 
										<tr>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											<td style="padding: 10px 0 8px;" valign="top">
												<img editable="true" label="Image" style="border: 1px solid #e9e9e9; display: block; margin-bottom:15px" border="1" width="366">
												<p><multiline label="Description">
													Monday, February 9th, 2015<br>
													11:00 a.m. - 12:30 p.m.<br>
													TNRB W408 and W410
												</multiline></p>
												
											</td>
											<td width="22" style="font-size: 1px; line-height: 1px;"></td>
										</tr>
										<tr>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
												<td style="padding: 5px 0 0 0" valign="top">
													KPMG invites you to join us for some Cold Stone on Monday, February 9, 2015. Your spouse or significant other is also welcome to join you. This is a great opportunity to visit with KPMG new hires, interns, and professionals in a very informal setting. These individuals have decided to take a break from their busy schedules to visit with you and share insights about their Big 4 accounting experience.<br />
												</td>
												<td width="22" style="font-size: 1px; line-height: 1px;"></td>
											</tr>
										</table>
									</td>
								</tr>
							</repeater>

							
						




						

							
							<!-- event contents -->

							</table>	
						</td>
						<!-- right side main body -->

					</tr>
					<tr>
						<td width="600" align="left" style="padding: font-size: 0; line-height: 0; height: 3px;" height="3" colspan="2"></td>
					</tr>
				</table><br>
				<!-- contents -->
				
				<!-- FOOTER -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family: Helvetica, Arial, sans-serif; line-height: 10px;" class="footer">
					<tr>
						<td align="center" style="padding: 5px 0 10px; font-size: 11px; color:#7d7a7a; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
							<p style="font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;"><singleline label="Title">You are receiving this newsletter because you are listed on the BYU Marriott School of Management database as a Information Systems Student</singleline></p>
							<p style="font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;">Not interested? <a href="https://docs.google.com/forms/d/1JId07qtxDZp7pmG8KABZAjOQpcz3EhkQmysdHeMj7Rc/viewform">Unsubscribe</a>.</p>
						</td>
					</tr>
				</table>
				<!-- footer-->

			</td>
		</tr>
	</table>
	</body>
</html>