{% extends "home-template.html" %}

{% block notification_content %}
    <h4>Notification</h4>
    <p>If I wanted to notify you of something, I could do it here.</p>
{% endblock %}

{% block main-left %}
    <div class="menu-float">
        <h3 class="heading-green">
            This block will remain consistent unless it is overridden by a block on the index file.
        </h3>
    </div>
{% endblock %}


{% block main-center %}
    <h1>This is the Center Content</h1>
    <p>
        Lorem ipsum dolor sit amet, suscipit at, cras in. Dolor in, urna praesent eu wisi assumenda urna.
        Nulla eget elit morbi eget nulla interdum, posuere integer, vestibulum in quis quisque aliquet.
        Enim tellus, viverra non consequat placerat, turpis porta placerat duis pede vestibulum, maecenas in vel.
        Montes faucibus, vel bibendum ut, felis mauris nibh et morbi vivamus, mi ipsum, sollicitudin laoreet in fermentum.
    </p>
    <p>
        Non duis aliquet feugiat in diam, nullam mauris cras adipiscing tristique, id inventore phasellus
        senectus nulla, id arcu, semper tempus eleifend accumsan placerat condimentum feugiat. Quis consectetuer
        non pede. Justo amet placerat sollicitudin, suscipit pretium orci metus, malesuada elit ante hymenaeos,
        quis scelerisque a, sit sit pretium proin felis et magna. Feugiat interdum, pellentesque a, phasellus id,
        nullam sodales, ante dapibus rem mattis cursus sem. Vel nulla morbi vestibulum urna, senectus ut posuere
        integer dictum, in vel dictum. Pede praesent sit ornare convallis amet. Pharetra condimentum felis, sapien
        platea, interdum facilisi vitae phasellus donec.
    </p>
    <p>
        Molestie ultrices, aliquam dui vivamus lacus ligula mi nisl. Dapibus lacus tortor, suspendisse lectus
        lorem ac. Est at sed commodo, convallis curabitur habitant feugiat. Massa eros lacinia ut lobortis molestie.
        Faucibus tincidunt morbi lectus non, tincidunt ut purus sed mauris sollicitudin, voluptas sed purus quis
        fames aliquam accumsan, quis wisi elit. Iaculis sit adipisci phasellus, iaculis erat arcu in sit suspendisse
        magna, cras sed lobortis eu, morbi velit fusce esse bibendum condimentum, nec suspendisse aliquet. Morbi
        vel non vel consectetur quam morbi, mauris nibh. Magna elit, nunc et et phasellus facilisis metus.
        Libero duis velit fringilla, laoreet ac nec cras, urna mauris turpis convallis, ut urna elit donec in.
        Eu enim per.
    </p>
    <p>
        Quis faucibus, feugiat tempor, sed lobortis. Nisl volutpat sed, adipiscing molestie sed nam
        libero risus, ipsum a atque ipsum interdum tortor eu, bibendum tempor nisl dui tellus, lectus magna class
        duis sed blandit laoreet. Morbi integer fames non mauris etiam. Vestibulum wisi justo fringilla, mollis
        quam nulla eget fermentum mauris, proin ac eget auctor quis wisi, placerat mus nisl reprehenderit, aliquam
        vestibulum euismod sem. Sollicitudin phasellus ultrices ridiculus pede aliquam neque, dui ante mollis molestie,
        dolore imperdiet habitant magna luctus est, ac eros libero pellentesque, tincidunt imperdiet elit lectus at
        nam donec. Rutrum praesent elementum lorem tortor lorem curabitur. Massa mi velit vitae mauris, commodo
        sollicitudin suspendisse integer eros, aliquam sed suspendisse, aliquam luctus aliquam porta tempus.
        Amet nibh a fermentum nunc. Malesuada aliquam dui vestibulum, placerat molestie magna felis vulputate
        facilisis, accumsan suscipit purus nibh eu et sem, mattis per vitae dolor, nulla pede suspendisse sed
        vestibulum. Laoreet amet nascetur, sit vel, odio pellentesque leo urna.
    </p>
{% endblock %}

{% block main-right %}
    Conent in the right side box
{% endblock %}

{% block foot-left %}
    Content in the left side footer
{% endblock %}


